<div id="apf_container">
    <div id="apf_card" class="shadow">
        <div [ngStyle]="{'background-color': frontBGColor}" class="front face">
            <div class="content">
                <i [ngClass]="iconCode" [ngStyle]="{'color': iconColor}" aria-hidden="true"></i>
                <h2 class="title" [ngStyle]="{'color': frontTitleColor}">{{frontTitle}}</h2>
                <h4 class="sub-title" [ngStyle]="{'color': frontSubTitleColor}">{{frontSubTitle}}</h4>
            </div>

        </div>
        <div [ngStyle]="{'background-color': backBGColor}" class="back face center">
            <h2 [ngStyle]="{'color': backTitleColor}">{{backTitle}}</h2>
            <p [ngStyle]="{'color': backContentColor}">{{backContent}}</p>
        </div>
    </div>
</div>